.card2{
    width: 250px;
    background-color: aqua;
    border: 1px solid black;
    box-shadow: 2px 3px 5px black;
    margin: 15px;

}
#card1{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: blueviolet;
    text-decoration: solid;
}
.title{
    color: rgb(0, 0, 0);
    text-align: center;
   font-size: 30px;
}
.img{
    width: 250px;
}
.textbox{
    text-align: justify;
    padding: 1px;
    line-height: 1.2;
}
.card2:hover{
    box-shadow: 6px 10px 6px white;
}